.box-1 {
    height: 130px;
    width: 130px;
    background-color: brown;
    position: absolute;
  left: 0;
  top: 0;
  animation-name: position_movement;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  /* animation-delay: 4s; */
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* animation-range: 20% 50%; */


}

.box-2 {
    height: 130px;
    width: 130px;
    background-color: blue;
    position: absolute;
    right: 0;
    top: 150px;
    animation-name: Right_left;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

@keyframes position_movement {

    from {
        left: 0;
        
    }

    to {
        left: calc(100% - 130px);
        background-color: red;
    }
}

@keyframes Right_left {

    frorm {
        right: 0;
        
    }

    to {
        right: calc(100% - 130px);
        background-color: purple;
    }
}